.modal-order {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;

    visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    overflow-y: scroll;
}

.modal-order_open {
    visibility: visible;
}

.modal-order__bg {
    position: absolute;
    background: #000000;
    opacity: 35%;
    width: 100%;
    height: 120%;
}

.modal-order__container {
    position: relative;
    width: 506px;
    height: 815px;

    padding: 38px 90px 56px 86px;

    border-radius: 4px;
    color: #000000;
    background-color: var(--color-bg1);
}

.modal-order__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-order__title-wrap {
    padding-left: 17px;
    width: 312px;
    height: 60px;
    align-self: center;
}

.modal-order__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.modal-order__input-name {
    margin-top: 42px;
}

.modal-order__input-email {
    margin-top: 17px;
}

.modal-order__submit-button {
    margin-top: 40px;
    margin-left: 6px;
    width: 172px;
    height: 40px;
    text-transform: uppercase;
    align-self: center;
}

.modal-order__activity-indicator {
    margin: 15px auto 0 auto;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    background: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

/* --------------- Radio Buttons --------------- */
.plans-radio {
    margin-top: 24px;
    height: 183px;
    gap: 11px;
}

.plans-radio__title {
    margin-bottom: 11px;
}

.plans-radio__label_plan1 {
    --color-text: #0278ED;
    --color-border: #0278ED;
}

.plans-radio__label_plan2 {
    --color-text: #FF5437;
    --color-border: #FF5437;
}

.plans-radio__label_plan3 {
    --color-text: #FF9209;
    --color-border: #FF9209;
}


/* --------------- Check Boxes --------------- */
.check-boxes-about-us {
    margin-top: 43px;
    height: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-boxes-about-us__title {
    margin-bottom: 11px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.check-boxes-about-us__container {
    width: 127px;
}

.check-boxes-about-us__item {
    margin-bottom: 15px;
}

.check-boxes-about-us__err-msg {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-error);
}


@media (max-width: 500px) {
    .modal-order__container {
        padding: 38px 40px 56px 40px;
    }
}