.most-feature-container {
    max-height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.most-feature-container__info {
    max-width: 420px;
    max-height: 290px;
}

.most-feature-container__title {
    text-align: left;
}

.most-feature-container__sub-title {
    margin-top: 5px;
    text-align: left;
}

.most-feature-container__description {
    margin-top: 15px;
    text-align: left;
    color: var(--text-color-secondary);
}

.most-feature-container__image {
    position: relative;
    top: 154px;
    width: 376px;
    height: 745px;
}


.technology {
    max-height: 652px;
    background-color: var(--color-bg1);
}

.speed-and-security {
    max-height: 644px;
    background-color: var(--color-bg2);
}