.app-preview {
    background-color: var(--color-bg1);
}

.app_preview__container {
    max-height: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.app-preview-info {
    width: 420px;
    height: 354px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-preview-info__logo {
    width: 192px;
    height: 64px;
}

.app-preview-info__title {
    color: var(--text-color-primary);
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
}

.app-preview-info__description {
    margin-top: 17px;
}

.app-preview-info__buttons {
    display: flex;
    flex-direction: row;
    padding: 0 0 10px 5px;
    gap: 10px;
}

.app-preview-info__button {
    padding: 10px 25px 12px 25px;
    text-transform: uppercase;
}

.app-preview__image {
    margin-top: 289px;
    width: 376px;
    height: 745px;
}