.features {
    padding: 132px 0 68px 0;
    background-color: var(--color-primary);
}

.features__title {
    color: var(--text-color-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.features__subtitle {
    color: var(--text-color-white);
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.features__cards-container {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.feature-card {
    position: relative;
    max-width: 379px;
    max-height: 490px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-color: var(--color-white);
    border-radius: 20px;
}

.feature-card__image-container {
    max-height: 293px;
    max-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    overflow: hidden;

    background-color: var(--color-white);
}

.feature-card__image {
    width: 227px;
    height: 450px;
}

.feature-card__icon {
    position: absolute;
    top: 259px;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-card__icon_dark-blue {
    background-color: var(--color-dark-blue);
}

.feature-card__icon_red {
    background-color: var(--color-red);
}

.feature-card__icon_orange {
    background-color: var(--color-orange);
}

.feature-card__icon_pink {
    background-color: var(--color-pink);
}

.feature-card__icon_light-blue {
    background-color: var(--color-light-blue);
}

.feature-card__icon_violet {
    background-color: var(--color-violet);
}


.feature-card__description-container {
    max-width: 100%;
    max-height: 197px;
    background-color: var(--color-dark-beige);
    padding: 48px 46px 40px 46px;
}

.feature-card__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.feature-card__title_dark-blue {
    color: var(--color-dark-blue);
}

.feature-card__title_red {
    color: var(--color-red);
}

.feature-card__title_orange {
    color: var(--color-orange);
}

.feature-card__title_pink {
    color: var(--color-pink);
}

.feature-card__title_light-blue {
    color: var(--color-light-blue);
}

.feature-card__title_violet {
    color: var(--color-violet);
}


.feature-card__description-text {
    margin-top: 11px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: var(--text-color-primary);
}