.statistic {
    background-color: var(--color-red);
}

.statistic__container {
    max-height: 316px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 199px 100px 199px;
}

.statistic__item {
}

.statistic__value {
    font-size: 90px;
    font-weight: 400;
    line-height: 96px;
    color: var(--text-color-white);
    text-align: center;
}

.statistic__title {
    margin-top: 20px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color-white);
}