/* Light theme */
.theme-demo_light.theme-demo {
    background-color: var(--color-theme-light-bg);
}
.theme-demo_light .theme-demo__title {
    color: var(--color-theme-light-text-primary);
}
.theme-demo_light .theme-demo__sub-title {
    color: var(--color-theme-light-text-primary);
}
.theme-demo_light .theme-demo__description {
    color: var(--color-theme-light-text-primary);
}
.theme-demo_light .theme-demo__btn-light-icon {
    fill: var(--color-theme-accent);
}
.theme-demo_light .theme-demo__btn-dark-icon {
    fill: var(--color-theme-light-text-primary);
}
.theme-demo_light .theme_demo__btn-light-text {
    color: var(--color-theme-accent);
}
.theme-demo_light .theme_demo__btn-dark-text {
    color: var(--color-theme-light-text-primary);
}


/* Dark theme */
.theme-demo_dark.theme-demo {
    background-color: var(--color-theme-dark-bg);
}
.theme-demo_dark .theme-demo__title {
    color: var(--color-theme-dark-text-primary);
}
.theme-demo_dark .theme-demo__sub-title {
    color: var(--color-theme-dark-text-primary);
}
.theme-demo_dark .theme-demo__description {
    color: var(--color-theme-dark-text-primary);
}
.theme-demo_dark .theme-demo__btn-light-icon {
    fill: var(--color-theme-dark-text-primary);
}
.theme-demo_dark .theme-demo__btn-dark-icon {
    fill: var(--color-theme-accent);
}
.theme-demo_dark .theme_demo__btn-light-text {
    color: var(--color-theme-dark-text-primary);
}
.theme-demo_dark .theme_demo__btn-dark-text {
    color: var(--color-theme-accent);
}


.theme-demo {
    max-height: 997px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 140px 0;
}

.theme-demo__container {
    max-width: 600px;
    max-height: 757px;
}

.theme-demo__info {
    padding: 0 11px;
}

.theme-demo__sub-title {
    margin-top: 5px;
}

.theme-demo__theme-name {
    color: var( --color-theme-accent);
}

.theme-demo__description {
    margin-top: 14px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.theme-demo__image-wrap {
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.theme-demo__image {
    max-width: 400px;
    max-height: 486px;
}

.theme-demo__line {
    height: 2px;
    background-color: #E5E5E5;
}

.theme-demo__buttons {
    width: 100%;
    height: 111px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.theme-demo__button {
    width: 129px;
    height: 49px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    text-transform: uppercase;
}