.faq {
    background: var(--color-bg3);
    width: 100%;
    padding: 110px 15px;
}

.faq__container {
    max-width: 1200px;
}

.faq__head {
    color: #222222;
    font-weight: 400;
    margin-bottom: 40px;
}

.faq__head-title {
    margin-left: 35px;
    margin-bottom: 14px;
    font-size: 32px;
    line-height: 36px;
}

.faq__head-description {
    margin-left: 35px;
    font-size: 15px;
    line-height: 20px;
}

.faq__questions {
    display: flex;
    flex-wrap: wrap;
    gap: 27px 16px;
    padding-left: 35px;
}

.questions__card {
    height: auto;
    width: calc(50% - 8px);
    color: #222222;
    font-weight: 400;
}

.questions__card-title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}

.questions__card-description {
    font-size: 16px;
    line-height: 24px;
}


@media (max-width: 800px) {
    .faq {
        padding: 50px 25px;
    }

    .faq__head-title,
    .faq__head-description {
        margin-left: 0;
    }

    .faq__questions {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 25px;
        padding-left: 0;

    }

    .questions__card {
        width: 100%;
    }
}


@media (max-width: 400px) {
    .faq {
        padding: 25px 15px;
    }

    .faq__head-title {
        font-size: 25px;
        line-height: 36px;
    }

    .faq__head-description {
        font-size: 14px;
        line-height: 20px;
    }

    .questions__card-title {
        font-size: 15px;
        line-height: 28px;
    }

    .questions__card-description {
        font-size: 13px;
        line-height: 18px;
    }
}