.features {
    height: 1339px;
    padding: 100px 0 99.88px 0;
    background-color: #222222;
}

.features__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__title {
    margin-left: 40px;
    color: var(--text-color-primary2);
}

.features__subtitle {
    color: var(--text-color-primary2);
    width: 495px;
    margin: 5px 0 0 38px;
}

.features__cards-container {
    margin-top: -6px;
    padding: 50px 0 50px 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.feature-card {
    position: relative;
    width: 380px;
    height: 490px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-color: var(--color-bg1);
    border-radius: 20px;
}

.feature-card__image-container {
    max-height: 293px;
    max-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    overflow: hidden;

    background-color: var(--color-bg1);
}

.feature-card__image {
    width: 227px;
    height: 450px;
}

.feature-card__icon {
    position: absolute;
    top: 259px;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-card__icon_dark-blue {
    background-color: #0278ED;
}

.feature-card__icon_red {
    background-color: #FF5437;
}

.feature-card__icon_orange {
    background-color: #FF9209;
}

.feature-card__icon_pink {
    background-color: #E738CE;
}

.feature-card__icon_light-blue {
    background-color: #00C6DF;
}

.feature-card__icon_violet {
    background-color: #B25DF8;
}


.feature-card__description-container {
    max-width: 100%;
    max-height: 197px;
    background-color: var(--color-bg2);
    padding: 48px 46px 40px 47px;
}

.feature-card__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
}

.feature-card__title_dark-blue {
    color: #0278ED;
}

.feature-card__title_red {
    color: #FF5437;
}

.feature-card__title_orange {
    color: #FF9209;
}

.feature-card__title_pink {
    color: #E738CE;
}

.feature-card__title_light-blue {
    color: #00C6DF;
}

.feature-card__title_violet {
    color: #B25DF8
}

.feature-card__description-text {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--text-color-primary);
}



@media (max-width: 1270px) {
    .features {
        max-height: none;
        height: auto;
        padding-bottom: 0;
    }

    .features__title {
        margin-left: 0;
        color: var(--text-color-primary2);
    }

    .features__subtitle {
        margin-left: 0;
    }

    .features__cards-container {
        margin-top: -6px;
        padding-left: 25px;
        padding-right: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
    }

    .feature-card {
        width: 359px;
        height: 480px;
    }
}


@media (max-width: 785px) {
    .features {
        padding-top: 50px;
    }

    .feature-card {
        width: 290px;
        height: 430px;
    }

    .feature-card__image {
        width: 200px;
        height: 410px;
    }

    .feature-card__description-container {
        max-width: 100%;
        max-height: 177px;
        background-color: var(--color-bg2);
        padding: 28px 46px 40px 47px;
    }

    .feature-card__icon {
        top: 222px;
        left: calc(50% - 27px);
        width: 54px;
        height: 54px;
    }

    .feature-card__title {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }

    .feature-card__description-text {
        margin-top: 0;
        font-size: 13px;
        line-height: 20px;
    }
}


@media (max-width: 510px) {
    .features__subtitle {
        padding: 10px;
        width: auto;
        font-size: 26px;
    }

    .features__cards-container {
        padding-left: 5px;
        padding-right: 5px;
    }
}