.header {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--color-bg1);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.nav-header {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 32px;
    margin: 0 120px;
}

.nav-header__logo {
    width: 120px;
    height: 40px;
}

.nav-header__menu {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px 0 16px;
    gap: 42px;
}

.nav-header__item {
    color: var(--text-color-secondary);
    font-size: 15px;
    line-height: 24px;
}

.nav-header__item-btn {
    width: 171px;
    height: 40px;
    margin-left: 11px;
    text-transform: uppercase;
}