.most-feature-container {
    max-height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 120px 0 135px;
}

.most-feature-container__info {
    margin-top: -14px;
    max-width: 420px;
    max-height: 290px;
    padding-top: 5px;
}

.most-feature-container__title {
    text-align: left;
}

.most-feature-container__sub-title {
    margin-top: 5px;
    text-align: left;
}

.most-feature-container__description {
    margin-top: 15px;
    width: 403px;
    text-align: left;
    color: var(--text-color-secondary);
}

.most-feature-container__image {
    margin-top: 97px;
    max-height: 548px;
    max-width: 100%;
}

.technology {
    max-height: 645px;
    background-color: var(--color-bg1);
}

.speed-and-security {
    max-height: 644px;
    background-color: var(--color-bg2);
}

.speed-and-security__container {
    padding: 0 101px 0 166px;
}



@media (max-width: 1060px) {
    .most-feature-container {
        max-height: none;
        flex-direction: column-reverse;
        padding: 30px 15px 50px 15px;
    }

    .speed-and-security {
        display: flex;
        flex-direction: column-reverse;
    }

    .speed-and-security .most-feature-container__info {
        order: 1;
    }

    .speed-and-security .most-feature-container__image {
        order: 2;
    }

    .technology {
        max-height: none;
    }

    .speed-and-security {
        max-height: none;
    }

    .most-feature-container__image {
        margin-top: 0;
        max-height: 448px;
    }

    .most-feature-container__info {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 500px) {
    .most-feature-container__sub-title {
        font-size: 24px;
        line-height: 27px;
    }

    .most-feature-container__info {
        padding: 5px;
        max-height: none;
    }
    .most-feature-container__description {
        width: auto;
    }

    .most-feature-container__image {
        margin-top: 0;
        max-height: 300px;
        max-width: 85%;
    }
}