.statistic {
    background-color: #FF5437;
}

.statistic__container {
    max-height: 316px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 237px 100px 200px;
}

.statistic__item {
}

.statistic__value {
    font-size: 90px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 5px;
    color: var(--text-color-primary2);
    text-align: center;
}

.statistic__title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color-primary2);
}