.statistic {
    background-color: #FF5437;
}

.statistic__container {
    max-height: 316px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 237px 100px 200px;
}

.statistic__item {
}

.statistic__value {
    font-size: 90px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 5px;
    color: var(--text-color-primary2);
    text-align: center;
}

.statistic__title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color-primary2);
}



@media (max-width: 1175px) {
    .statistic__container {
        padding: 80px 70px 100px 70px;
    }
}

@media (max-width: 860px) {
    .statistic__container {
        padding: 50px 70px 40px 70px;
    }

    .statistic__value {
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 2px;
    }

    .statistic__title {
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 2px;
    }
}

@media (max-width: 600px) {
    .statistic__container {
        max-height: none;
        padding: 15px 70px 15px 70px;
        flex-direction: column;
        gap: 20px;
    }

    .statistic__value {
    }

    .statistic__title {
        margin-top: 0;
    }
}