@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


:root {
    --default-font-family: Poppins, normal;

    --max-width-container: 1440px;

    /* Брекпоинты */
    --md1: calc(var(--max-width-container) + 12px);
    --md2: 992px;
    --md3: 768px;
    --md4: 480px; /*350*/

    /* Цвета */
    --color-background: "нету";

    --color-bg1: #FFFFFF;
    --color-bg2: #F2F2F2;
    --color-bg3: #E5E5E5;


    --color-pricing-plan1: #0278ED;
    --color-pricing-plan2: #FF5437;
    --color-pricing-plan3: #FF9209;

    --color-primary: #222222;
    --color-white: #FFFFFF;
    --color-dark-beige: #F2F2F2;
    --color-dark-gray: #4E4E4E;
    --color-blue: #5AB0FF;
    --color-light-blue: #00C6DF;
    --color-dark-blue: #0278ED;
    --color-orange: #FF9209;
    --color-pink: #E738CE;
    --color-violet: #B25DF8;


    --text-color-primary: #222222;
    --text-color-primary2: #FFFFFF;
    --text-color-white: #FFFFFF;
    --text-color-secondary: #666666;


    /* Controls */
    --color-error: #FF5437;
    --color-ui-focus-outline: #5AB0FF;

}

body {
    font-family: var(--default-font-family);
    font-weight: 400;
}

body.modal-open {
    overflow: hidden;
}
