.theme-demo.theme-demo_light-theme {
    --color-theme-accent: #FF9209;
    --color-theme-bg: #FFFFFF;
    --color-theme-text-primary: #222222;
}

.theme-demo.theme-demo_dark-theme {
    --color-theme-accent: #FF9209;
    --color-theme-bg: #222222;
    --color-theme-text-primary: #FFFFFF;
}

.theme-demo {
    height: 997px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 98px 0 140px 0;
    background-color: var(--color-theme-bg);
}

.theme-demo__container {
    max-width: 600px;
    max-height: 757px;
}

.theme-demo__info {
    padding-left: 6px;
    padding-right: 15px;
}

.theme-demo__title {
    margin-right: 1px;
    color: var(--color-theme-text-primary);
}

.theme-demo__sub-title {
    margin-right: 6px;
    color: var(--color-theme-text-primary);
    margin-top: 5px;
}

.theme-demo__theme-name {
    color: var(--color-theme-accent);
}

.theme-demo__description {
    margin-top: 14px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--color-theme-text-primary);
}

.theme-demo__image-wrap {
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.theme-demo__image {
    max-width: 400px;
    max-height: 486px;
}

.theme-demo__line {
    height: 2px;
    background-color: #E5E5E5;
}

.theme-demo__buttons {
    width: 100%;
    height: 111px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    gap: 18px;
}

.theme-demo__button {
    width: 129px;
    height: 49px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.theme-demo__btn-light-icon {
    fill: var(--color-theme-text-primary);
}

.theme_demo__btn-light-text {
    color: var(--color-theme-text-primary);
}

.theme-demo__btn-dark-icon {
    fill: var(--color-theme-text-primary);
}

.theme_demo__btn-dark-text {
    color: var(--color-theme-text-primary);
}

.theme-demo_light-theme .theme-demo__btn-light-icon {
    fill: var(--color-theme-accent);
}

.theme-demo_light-theme .theme_demo__btn-light-text {
    color: var(--color-theme-accent);
}

.theme-demo_dark-theme .theme-demo__btn-dark-icon {
    fill: var(--color-theme-accent);
}

.theme-demo_dark-theme .theme_demo__btn-dark-text {
    color: var(--color-theme-accent);
}