.modal-order {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;

    visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-order_open {
    visibility: visible;
}

.modal-order__bg {
    position: absolute;
    background: #000000;
    opacity: 35%;
    width: 100%;
    height: 100%;
}

.modal-order__container {
    position: relative;
    /*max-width: 506px;*/
    /*max-height: 815px;*/
    width: 506px;
    height: 815px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 90px 56px 86px;

    border-radius: 4px;
    color: #000000;
    background-color: var(--color-bg1);
}

.modal-order__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-order__title-wrap {
    width: 312px;
    height: 60px;
}

.modal-order__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.modal-order__input-name {
    margin-top: 42px;
}

.modal-order__input-email {
    margin-top: 17px;
}

.modal-order__submit-button {
    width: 172px;
    height: 40px;
    text-transform: uppercase;
}

/* --------------- Radio Buttons --------------- */
.plans-radio {
    margin-top: 23px;
    height: 183px;
    gap: 11px;
}

.plans-radio__title {
    margin-bottom: 11px;
}

.plans-radio__label_plan1 {
    --color-text: #0278ED;
    --color-border: #0278ED;
}

.plans-radio__label_plan2 {
    --color-text: #FF5437;
    --color-border: #FF5437;
}

.plans-radio__label_plan3 {
    --color-text: #FF9209;
    --color-border: #FF9209;
}


/* --------------- Check Boxes --------------- */
.check-boxes-about-us {
    margin-top: 42px;
    height: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-boxes-about-us__title {
    margin-bottom: 11px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.check-boxes-about-us__item[type="checkbox"] {
    display:none;
}


.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}
