.download {
    max-height: 449px;
    padding: 95px 0 140px 0;
    background-color: var(--color-bg1);
}

.download__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.download__info {
    max-width: 650px;
    max-height: 209px;
    padding: 0 5px 0 5px;
}

.download__title {
    margin-left: 41px;
    margin-top: 6px;
}

.download__sub-title {
    margin-top: 5px;
    margin-left: 40px;
}

.download__description {
    margin: 12px 0 26px 39px;
    font-size: 18px;
    text-align: center;
    color: var(--text-color-secondary);
}

.download__link {
    margin-left: 36px;
    width: 180px;
    height: 60px;
}

@media (max-width: 900px) {
    .download__title,
    .download__sub-title,
    .download__description,
    .download__link{
        margin-left: 0;
    }
}


@media (max-width: 500px) {
    .download {
        max-height: none;
        padding: 50px 25px;
    }

    .download__sub-title {
        font-size: 23px;
    }

    .download__description {
        font-size: 15px;
    }
}