.app-preview {
    background-color: var(--color-bg1);
}

.app_preview__container {
    max-height: 637px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 137px 0 115px;
    align-items: center;
    overflow: hidden;
}

.app-preview-info {
    width: 420px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 35px 13px 0;
}

.app-preview-info__logo {
    width: 192px;
    height: 64px;
    margin-top: 2px;
}

.app-preview-info__title {
    color: var(--text-color-primary);
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
}

.app-preview-info__description {
    margin-top: 19px;
    text-align: left;
}

.app-preview-info__buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 0 0 10px 5px;
    gap: 10px;
}

.app-preview-info__button {
    width: 148px;
    height: 40px;
    padding-left: 2px;
    text-transform: uppercase;
}

.app-preview__image {
    margin-top: 289px;
    width: 376px;
    height: 745px;
}