.testimonials {
    padding: 100px 0;
    background-color: var(--color-bg2);
}

.testimonials__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials__title {
    margin-left: 41px;
    margin-top: 1px;
}

.testimonials__sub-title {
    margin-top: -4px;
    margin-left: 39px;
}

.testimonials__description {
    margin-top: 13px;
    margin-left: 37px;
    font-size: 18px;
    text-align: center;
    color: var(--text-color-secondary);
}

.testimonials__users {
    margin-top: 39.94px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding-left: 48px;
    padding-right: 10px;
}

.user-card {
    width: 379px;
    height: 224px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 31px 55px 34px 30px;

    background-color: var(--color-bg1);
    border-radius: 20px;
}

.user-card__comment {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-primary);
}

.user-card__name {
    font-size: 16px;
    line-height: 20px;
    color: #1B1A1A;
}

.user-card__job {
    font-size: 14px;
    line-height: 20px;
    color: #1B1A1A;
}



@media (max-width: 786px) {
    .testimonials {
        padding: 50px;
    }

    .testimonials__title {
        margin: 0;
    }

    .testimonials__sub-title {
        margin: 0;
        font-size: 25px;
    }

    .testimonials__description {
        margin-left: 0;
    }

    .testimonials__users {
        margin-top: 10px;
    }
    .testimonials__users {
        padding: 0;
    }
}


@media (max-width: 500px) {
    .testimonials {
        padding: 50px;
    }

    .testimonials__sub-title {
        font-size: 25px;
    }
}



@media (max-width: 390px) {
    .testimonials {
        padding: 30px;
    }

    .testimonials__sub-title {
        font-size: 18px;
    }

    .testimonials__description {
        font-size: 13px;
    }

    .user-card {
        width: 280px;
        height: 200px;
        padding: 30px;
    }

    .user-card__comment {
        font-size: 13px;
        line-height: 24px;
    }

    .user-card__name {
        font-size: 13px;
        line-height: 15px;
        color: #1B1A1A;
    }

    .user-card__job {
        margin-top: 5px;
        font-size: 10px;
        line-height: 15px;
        color: #1B1A1A;
    }
}
