.header-nav-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 90px;
    padding: 25px;
    background-color: var(--color-bg1);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.nav-bar {
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__img {
    margin-left: 51px;
    height: 40px;
    width: 120px;
}

.nav-bar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding: 12px 6px 12px 21px;
    width: 660px;
}

.nav-bar__item {
    list-style: none;
    font-size: 15px;
    line-height: 24px;
    color: #666666;
    text-decoration: none;
}

.nav-header__item-btn {
    width: 171px;
    height: 40px;
    margin-left: 11px;
    text-transform: uppercase;
}

.nav-bar__item-logo {
    display: none;
}

.burger-menu-btn {
    display: none;
}



@media (max-width: 768px) {
    .navbar__img {
        margin: 0;
    }
    .nav-bar__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;

        transform: translateX(100%);
        transition: transform 300ms;
        background: var(--color-bg1);
    }

    .nav-bar__menu_active {
        transform: translateX(0);
    }

    .nav-bar__item-logo {
        display: block;
        margin-bottom: 52px;
    }

    .nav-bar__item {
        margin-bottom: 11px;
    }

    .burger-menu-btn {
        position: relative;
        z-index: 2;
        width: 24px;
        height: 24px;
        display: block;
        overflow: hidden;
    }
}


@media (max-width: 320px) {
}



